.sport-card-container {
    border: 1px solid black;
    width: 66.5vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.img-sport {
    margin-left: 23px;
    margin-top: 23px;
    width: 9vw;
    height: 22vh;
}
.img-sport img {
    width: 9vw;
    height: 18.5vh;
}
.desc .title-wrapper .title-heading,
.desc .type-wrapper .type-heading,
.desc .location-wrapper .location-heading {
    font-weight: bold;
}
.desc {
    font-size: 14px;
    height: 22vh;
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 11.5vw;
    position: relative;
    left: 2vw;
}
.desc > div > div:nth-child(2) {
    color: #A4ABB4;
}
.desc > div {
    margin-bottom: 19px;
}
.desc .title-wrapper {
    position: relative;
    top: 4px;
}
.desc .type-wrapper {
    /* margin-bottom: -10px; */
    position: relative;
    top: 10px;
}
.desc .location-wrapper {
    position: relative;
    top: 25px;
}

#avlb-h-wrapper {
    height: 22vh;
    margin-top: 20px;
    position: relative;
    right: 5vw;
}
#avlb-h-wrapper > div:nth-child(1) {
    font-weight: bold;
    margin-bottom: 10px;
}
.times {
    font-size: 12px;
    font-weight: bold;
    height: 12vh;
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.times .time {
    text-align: center;
    padding-top: .9vh;
    box-sizing: border-box;
    width: 4.3vw;
    height: 4vh;
    border-radius: 50px;
    background-color: #E4F154;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

#options-wrapper {
    position: relative;
    right: 2vw;
    margin-top: 19px;
}
#options-wrapper > div:nth-child(1) {
    font-weight: bold;
    margin-bottom: 11px;
}
#options-wrapper .options {
    font-size: 12px;
    text-align: center;
    width: 21vw;
    height: 17vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#options-wrapper .options .option > div:nth-child(1) {
    font-weight: bold;
}
#options-wrapper .options .option { 
    width: 10vw;
    height: 7vh;
    box-sizing: border-box;
    padding-top: 8px;
    border-radius: 14px;
    margin-bottom: 7px;
    color: #ffffff;
    background-color: #FFB21E;
}
#options-wrapper .options .option > div:nth-child(2) {
    margin-right: 3.2vw;
    color: #000000;
}



 .update-sport {
    background-color: #056CF2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-weight: bold;
    transition: .2s ease-in-out;
    text-align: center;
    width: 9.1vw;
    height: 5vh;
    /* border-radius: 14px; */
    position: relative;
    right: 87vh;
    bottom: 1vh;
}
.update-sport:hover {
    background-color: #6f6d6d;
    color: #ffffff;
}
.update-sport .icon-class{
    position: relative;
    left: 1vw;
    font-size: 12px;
    display: inline-block;
    color: #ffffff;

}
 .update-sport .txt {
    position: relative;
    color: #ffffff;
    left: 0.1vw;
    width: 8vw;
    font-size: 12px;

}