.time-option {
    background-color: white;
    width: 104px;
    height: 43px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-right: 12px;
}