.admin-p-nav-container {
    position: fixed;
    top: 0;
    left: 244px;
    width: 84vw;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    z-index: 10;
}
.curr-path {
    display: flex;
    align-items: center;
    margin-left: 2.36rem;
    margin-top: 2px;
}
.curr-path button {
    background-color: transparent;
    outline: none;
    border: none;
    color: #056CF2;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;

}
.curr-path span {
    color: #056CF2;
    font-weight: bold;
    margin-left: 3.7px;
    font-size: 1.05rem;
    cursor: pointer;
}
@media screen and (max-width: 761px) {
    .admin-p-nav-container {
        position: fixed;
        left: 200px;
    }
}