.sports-cards-wrapper {
    position: absolute;
    left: 19vw;
    top: 26vh;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#pagination-component3 {
    position: absolute;
    left: 18.8vw;
    bottom: 3vh;
}
.search-bar-container {
    position: relative;
    right: 6.1vw;
    bottom: .45vh;
}