#g-gallery {
    position: absolute;
    left: 53.2vw;
    top: 57.8vh;
    width: 33vw;
    max-height: 41vh;
}
.update-upload-imgs-container {
    position: absolute;
    bottom: 47.50vh;
    left: 48.3vw;
    width: 42vw;
    height: 38.7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.us-save-btn {
    width: 6.3vw;
    height: 5.7vh;
    background-color: #0066FF;
    color: white;
    text-align: center;
    font-size: 14px;
    padding-top: 13px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    top: 13.96vh;
    left: 86vw;
    transition: .2s ease-in-out;
}
 .us-save-btn:hover {
    background-color: #003399;
 }

.update-service-container {
    position: relative;
    top: 14px;
}
.update-component-add-service {
    position: relative;
    top: 63.9vh !important;
}