#g-gallery {
    position: absolute;
    left: 57vw;
    top: 52vh;
    width: 37vw;
    max-height: 41.6vh;
}
.update-upload-imgs-container {
    position: absolute;
    bottom: 49.5vh;
    left: 56vw;
    width: 42vw;
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.update-upload-imgs-container .as-save-btn {
    width: 5vw;
    height: 5vh;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 7px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 10px;

}
