.dashboard-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.content {
    box-sizing: border-box;
    position: absolute;
    width: 67vw;
    height: 620px;
    top: 82px;
    left: 305px;
}
.sports-customers {
    width: 73vw;
    height: 282px;
    position: relative;
    right: 4vw;
    display: flex;
    justify-content: space-between;
}
.sport-actions {
    width: 22vw;
    margin-left: 0;
    height: 184.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #e9ebee;
    position: relative;
    top: 3px;
}
.sport-actions div {
    background-color: #ffffff;
    height: 56.5px;
    width: 15vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-weight: bold;
    transition: .2s ease-in-out;
}
.sport-actions div:hover {
    background-color: #6f6d6d;
    color: #ffffff;
}
.sport-actions div .icon-class{
    position: relative;
    display: inline-block;
}
.sport-actions div .txt {
    position: relative;
    left: -2vw;
    width: 8vw;
    font-size: 14px;

}

.sport-actions div:first-child .txt {
    right: 90px;
}
.views {
    display: flex;
    justify-content: space-around;
    width: 55vw;
    position: relative;
    background-color: #e9ebee;
}

.views div {
    position: relative;
    top: 20px;
    background-color: #ffffff;
    height: 151px;
    width: 19vw;
    transition: .2s ease-in-out;
}
.views div:hover {
    background-color: #6f6d6d;
    color: #ffffff;
}

.views div span {
    display: block;
    margin: auto;
    width: 100px;
    position: relative;
    top: 63.5px;
    font-weight: bold;
}
.overview {
    position: relative;
    right: 3.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 317px;
    background-color: #e9ebee;
    cursor: pointer;

}
.overview-heading {
    color: #056CF2;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
    top: 14px;
    left: 2.03rem;
    width: 5rem;
}
.cards-container {
    position: relative;
    bottom: 88px;
    left: 1vw;
    width: 68.9vw;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    background-color: #e9ebee;
    box-sizing: border-box;
}
.cards-container div {
    box-sizing: border-box;
    background-color: white;
    height: 150.5px;
    width: 15vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dashboard-container > div:nth-child(1) {
    width:16vw;
    position: relative;
    bottom: 0;
}

@media screen and (max-width: 1266px) {
    .sports-customers {
        right: 46px;
    }
    .sport-actions {
        width: 250px;
    }
    .sport-actions div {
        width: 188px;
    }
    .sport-actions div .txt {
        position: relative;
        left: -25px;
        width: 100px;
    }
    .views div {
        width: 237.3px;
    }
  
    .cards-container div {
        width: 188px;
    }
    .overview {
        position: relative;
        right: 34px;
    }
}

@media screen and (max-width: 1143px) {

    .sports-customers {
        height: 300px;
        right: 46px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .views {
        width: 450px;
    }
    .views div {
        width: 188px;
        margin-left: 25px;
    }
    .views div span {
        width: 100px;
        left: 5px;
        top: 55px;
    }

    .overview-heading {
        top: 34px;
        left: 1.43rem;
    }
    .cards-container {
        top: 14px;
        left: -5px;
        width: 450px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 250px;
    }
    .cards-container div {
        height: 70px;
        width: 188px;
        margin-left: 15px;
    }
}

@media screen and (max-width: 761px) {
    .sport-actions {
        position: relative;
        right: 46px;
        top: 14px;
        height: 250px;
    }
    .sport-actions .remove-sport {
        position: relative;
        top: 5px;
    }
    .views {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 320px;
        z-index: 2;
        position: relative;
        top: 25px;
        right: 46px;
    }
    .views div {
        width: 188px;
        margin-left: 32px;
        margin-bottom: 10px;
        height: 80px;
        top: 10px;
    }
    .views div span {
        left: 3px;
        top: 30px;
    }
    .overview-heading {
        top: 50px;
        left: -26px ;
    }
    .cards-container {
        top: 0px;
        left: -40px;
        width: 170px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 220px;
    }
    .cards-container div {
        height: 40px;
    }
}