.user-cards-wrapper {
    width: 68vw;
    height: 70vh;
    position: absolute;
    left: 17.86vw;
    bottom: 13.5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}
#pagination-component2 {
    position: absolute;
    left: 18.7vw;
    bottom: 15.4vh;
    width: 41vw;
}
.customers-searchbar {
    position: relative;
    right: 6.1vw;
    bottom: .3vh;
}