.search-container {
    border: 1.5px solid  #000000;
    width: 50%;
    height: 68.5px;
    position: relative;
    top: 185px;
    /* left: 29.8%; */
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.search-container .city {
    color: #ffffff;
    font-size: 2.5rem;
    margin-left: 0px;
    padding: 10px;
    user-select: none;
}
.search-container .vertical-line {
    border-right: 1.5px solid black;
}
.search-container .select-container {
    margin-top: 17px;
    position: relative;
    /* left: -150px; */
    width: 320px;
    padding: 0 5px 0 5px;
}
.btn-container {
    position: relative;
    top: 20px;
    padding-right: 5px;
}
.btn-container button {
    background-color: #CCD84B;
    border: none;
    border-radius: 7px;
    width: 90px;
    height: 35px;
    transition: background-color 230ms ease-in;
}
.btn-container button:hover {
    background-color: #abb53c;
}
.btn-container button i {
    font-size: 1.3rem;
    margin-right: 5px;
}
.btn-container button span {
    display: inline-block;
    position: relative;
    bottom: 4px;
    right: 2px;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 1296px) {
    .search-container {
        width: 645px;
    }
}
@media screen and (max-width: 740px) {
    .search-container {
        width: 645px;
        width: 89vw;
        left: 1%;
    }
    .search-container .city {
        font-size: 2.3rem;
    }
    .search-container .select-container {
        padding: 0 5px 0 5px;
    }
}