.booking-container {
    background-color:#e9ebee;
    width: 98.5vw;
    display: flex;
    justify-content: space-between;
}
.left-side {
    width: 580px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
    left: 11.5vw;
}
.left-side .imgslider-container {
    width: 30vw;
    position: relative;
    left: .5vw;
    top: 3vh;
}
.custom-calendar-wrapper {
    margin-left: 25px;
    width: 240px;
}

.location-info-wrapper {
    width: 300px;
    margin-left: .5vw;
    height: 275px;
}
.right-side {
    /* width: 33vw; */
    width: 380px;
    height: 640px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    overflow: hidden;
    margin-right: 100px;
}
.right-side .service-list-wrapper {
    position: relative;
    top: 48px;
}
.right-side .time-options  {
    display: flex;
    width: 380px;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    top: 143px;
    height: 180px;

}
.right-side .time-options .select-date-time-txt {
    position: absolute;
    top: -44px;
    left: 0;
    font-size: 28px;
}
.bookModal-container {
    position: absolute;
    width: 7.5vw;
    height: 6vh;
    top: 208px;
    left: 230px;
}

@media screen and (max-width: 1239px) {
    .booking-container {
        background-color:#e9ebee;
        width: 98.5vw;
        width: 580px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .left-side {
        left: 0;
    }
    .left-side .imgslider-container {
        width: 30vw;
        width: 570px;
        position: relative;
        left: .5vw;
        top: 21px;
    }
    .right-side {
        width: 580px;
        margin-left: 100px;
    }
    .custom-calendar-wrapper {
        margin-left: 25px;
    }
    .location-info-wrapper {
        width: 300px;
        height: 200px;
        /* border: 1px solid red; */
    }
    .bookModal-container {
        position: absolute;
        width: 7.5vw;
        height: 6vh;
        top: 180px;
        left: 230px;
    }
}

@media screen and (max-width: 630px) {
  
    .booking-container {
        width: 500px;
    }
    .left-side {
        width: 430px;
        justify-content: center;
        margin: auto;
    }
    .left-side .imgslider-container {
        width: 430px;
    }
    .left-side .imgslider-container > div {
        width: 430px !important;
    }
    .custom-calendar-wrapper {
        width: 330px;
        margin: auto;
    }
    .custom-calendar-wrapper > div {
        margin-left: 8.5px;
    }
    .location-info-wrapper {
        width: 330px;
    }
    .right-side {
        margin: auto;
        margin-top: 150px;
        width: 380px;
    }
    .right-side .service-list-wrapper .service-list-container {
        margin-left: 32px;
    }
    .right-side .time-options  {
        margin-left: 32px;
        top: 100px;
    }
    .bookModal-container {
        position: absolute;
        width: 7.5vw;
        height: 6vh;
        top: 180px;
        left: 230px;
    }
}

@media screen and (max-width: 533px) {
    .booking-container {
        width: 400px;
    }
    .left-side {
        width: 400px;
        justify-content: center;
        margin: auto;
    }
    .left-side .imgslider-container {
        width: 400px;
    }
    .left-side .imgslider-container > div {
        width: 400px !important;
    }
    .custom-calendar-wrapper {
        width: 330px;
        margin: auto;
    }
    .custom-calendar-wrapper > div {
        margin-left: 8.5px;
    }
    .location-info-wrapper {
        width: 330px;
    }
    .right-side {
        margin: auto;
        margin-top: 200px;
        width: 380px;
    }
    .right-side .service-list-wrapper .service-list-container {
        margin-left: 32px;
    }
    .right-side .time-options  {
        margin-left: 32px;
        top: 100px;
    }
    .bookModal-container {
        position: absolute;
        width: 7.5vw;
        height: 6vh;
        top: 180px;
        left: 230px;
    }
}