.booking-container {
    background-color:#e9ebee;
    width: 98.5vw;
    display: flex;
    justify-content: space-between;
}
.left-side {
    /* width: 40vw; */
    width: 580px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
    left: 11.5vw;
}
.left-side .imgslider-container {
    width: 30vw;
    position: relative;
    left: .5vw;
    top: 3vh;
}
.custom-calendar-wrapper {
    margin-left: 25px;
    width: 240px;
}

.location-info-wrapper {
    width: 300px;
    margin-left: .5vw;
    height: 275px;
    border: 1px solid red;
}
.right-side {
    width: 33vw;
    width: 380px;
    height: 640px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    overflow: hidden;
    margin-right: 100px;
}
.right-side .service-list-wrapper {
    position: relative;
    top: 48px;
}
.right-side .time-options  {
    display: flex;
    width: 380px;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    top: 143px;
    height: 180px;

}
.right-side .time-options .select-date-time-txt {
    position: absolute;
    top: -44px;
    left: 0;
    font-size: 28px;
}
.bookModal-container {
    width: 7.5vw;
    height: 6vh;
    position: relative;
    bottom: 65px;
    left: 82.3vw;
}

@media screen and (max-width: 1239px) {
    .booking-container {
        background-color:#e9ebee;
        width: 98.5vw;
        width: 580px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid red;
    }
    .left-side {
        left: 0;
        border: 1px solid blue;
    }
    .left-side .imgslider-container {
        width: 30vw;
        width: 570px;
        /* border: 1px solid red; */
        position: relative;
        left: .5vw;
        /* top: 3vh; */
        top: 21px;
    }
    .right-side {
        width: 580px;
        /* margin-left: 11.5vw; */
        border: 1px solid red;
    }
    .custom-calendar-wrapper {
        margin-left: 25px;
        border: 1px solid red;

    }
    
    .location-info-wrapper {
        width: 300px;
        /* margin-left: .5vw; */
        /* margin-left: 5px; */
        height: 275px;
        border: 1px solid red;
    }
    .bookModal-container {
        /* width: 7.5vw;
        height: 6vh;
        position: relative;
        bottom: 65px; */
        left: 44.5vw;
    }
}

@media screen and (max-width: 920px) {
    
}