
.sdashboard-container > div:nth-child(1) {
}
.sdashboard-container .wrapper {
    position: absolute !important;
    width: 78.5vw !important;
    height: 79vh !important;
    left: 15.9vw !important;
    top: 13.4vh !important;
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column !important;
}
.sdashboard-container .wrapper > div:nth-child(1) {
    display: flex !important;
    justify-content: space-between !important;
    height: 6vh !important;
}
.sdashboard-container .wrapper > div:nth-child(1) > div:nth-child(2) {
    position: relative !important;
    bottom: 14.3vh !important;
    right: 9vw !important;
}

.wrapper .msg-wrapper {
    display: flex !important;
    justify-content: space-between !important;
    /* border: 2px solid blue !important; */
    height: 69vh !important;
    width: 76.5vw !important;
    position: relative !important;
    bottom: -9vh !important;
    right: 8.68vw;
}
.wrapper .msg-wrapper .msgs{
    display: flex !important;
    /* justify-content: space-between !important; */
    flex-direction: column !important;
    position: relative !important;
    left: 3vw !important;
}
.wrapper .msg-wrapper .msgs > div {
    margin-bottom: 3vh !important;
}
.wrapper .msg-wrapper .msg-detail {
    position: relative !important;
    right: 40vw !important;
}   

.msg-controller {
    position: relative !important;
    left: 11.3vw !important;    
}
#pagination-component34 {
    position: relative !important;
    top: 90vh !important;
    left: 18.64vw !important;
    width: 41vw !important;
}
