.msg-controller-container {
    color: #A4ABB4;
    border: 1px solid #000000;
    width: 7vw;
    height: 5vh;
    border-radius: 14px;
    display: flex;
    /* position: absolute;
    left: 29.5vw;
    bottom: 86vh; */
    cursor: pointer;
    background-color: #ffffff;
}
.msg-controller-container .refresh-icon {
    border-right: 1px solid #a4abb4;
    width: 50%;
    transition: .2s ease;
}
.msg-controller-container .refresh-icon:hover {
    color: blue;
}
.refresh-icon i {
    position: relative;
    left: 20px;
    top: 8px;
}
.msg-controller-container .remove-icon {
    /* border: 2px solid red; */
    width: 50%;
    transition: .2s ease;
}
.msg-controller-container .remove-icon:hover {
    color: red;
}

.msg-controller-container .remove-icon i {
    position: relative;
    left: 18px;
    top: 8px;
}