.msg-controller-container {
    color: #A4ABB4 !important;
    border: 1px solid #000000 !important;
    width: 7vw !important;
    height: 5vh !important;
    border-radius: 14px !important;
    display: flex !important;
    cursor: pointer !important;
    background-color: #ffffff !important;
}
.msg-controller-container .refresh-icon {
    border-right: 1px solid #a4abb4;
    height: 100%;
    width: 50% !important;
    transition: .2s ease !important;
}
.msg-controller-container .refresh-icon:hover {
    color: blue !important;
}
.refresh-icon i {
    position: relative !important;
    left: 20px !important;
    top: 8px !important;
}
.msg-controller-container .remove-icon {
    /* border: 2px solid red !important; */
    width: 50% !important;
    transition: .2s ease !important;
}
.msg-controller-container .remove-icon:hover {
    color: red !important;
}

.msg-controller-container .remove-icon i {
    position: relative !important;
    left: 18px !important;
    top: 8px !important;
}