.user-reservations-wrapper {
    background-color: #e9ebee;
    min-height: 100vh;
}
.user-res-list {
    position: relative;
    top: 20vh;
}
.reser-container {
    display: flex;
    justify-content: space-around;
}
.reser-container div {
    position: relative;
    top: 12vh;
}
.r-checkbox-wrapper {
    position: relative;
    top: 9vh !important;
}

.reser-img-container {
   margin-top: -8.6vh;
   position: relative;
   right: 2vw;
}
.reser-img-container img {
    width: 12vw;
    height: 18vh;
}

.column-headers {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    top: 18vh;
    left: 31.5vw;
    font-size: 14px;
    font-weight: bold;
}
.column-headers .type-header {
    position: relative;
    right: -0.35vh;
}
.loc-header {
    position: relative;
    left: 2.68vw;
}
.date-t-header {
    position: relative;
    left: 0.3vw;
}
.price-header {
    position: relative;
    left: 0.9vw;
}
.available-header {
    position: relative;
    left: -2.9vw;
}
.past-res-and-del {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    position: relative;
    top: 100px;
}
.past-r {
    position: relative;
    left: 2.59vw;
    font-size: 23px;
    font-weight: bold;
}
.del-button-wrapper button {
    position: relative;
    right: 7.6vw;
    width: 83px;
    height: 4vh;
    font-weight: bold;
    color: #056CF2;
    border: 1px solid blue;
    transition: all .1s ease-in-out;
    cursor: pointer;
    outline: none;
    font-size: 12px;
}
.del-button-wrapper button:hover {
    color: #ff0000;
    border: 1px solid #ff0000;
}
 #del-txt {
    position: relative;
    display: inline-block;
    top: -6px;
}

.no-reservations-text {
    position: absolute;
    font-size: 28px;
    left: 6vw;
    top: 175px;
    width: 350px;
}

@media screen and (max-width: 1064px) {
    .del-button-wrapper button {
        position: relative;
        right: 0.8vw;
    }
}
@media screen and (max-width: 960px) {
    .no-reservations-text {
        left: 30px;
    }
} 
@media screen and (max-width: 852px) {
    .no-reservations-text {
        left: -50px;
    }
}
@media screen and (max-width: 607px) {
    .no-reservations-text {
        left: -90px;
    }
}