.signup-container {
    height: 100vh;
    width: 100%;
    background-color: #e9ebee;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.signup {
    width: 27.5%;
    margin: auto;
    position: relative;
    top: 36px;
    height: 583.5px;
    background-color: white;
    border: 1px solid rgb(150, 149, 149);

}
.su-logo {
    position: relative;
    left: 42%;
    width: 30px;
    margin-bottom: 20px;
}
.su-logo  div {
    left: -3.5vw !important;
}
.su-heading {
    position: relative;
    right: 7.7vw;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}
.su-fields-wrapper {
    height: 498.5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 23px;
}
.su-fields-wrapper div {
    margin: auto;
}
.su-fields-wrapper div label {
    display: block;
    color: #ABA8A8;
    font-size: .8rem;
    margin-bottom: 5px;
}
.su-fields-wrapper div input {
    width: 20vw;
    height: 35px;
    border-radius: 5px;
    border: 1.2px solid black;
    box-sizing: border-box;
    padding: 5px;
}
.su-btn {
    background-color: #056CF2;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 20vw;
    height: 35px;
    margin: auto;
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    transition: .2s ease-in;
}
.su-btn:hover {
    background-color: rgb(0, 56, 129);
    cursor: pointer;
}
.alternative {
    padding-left: 3vw;
    font-size: .8rem;
    font-weight: bold;
}
.alternative p span {
    margin-left: 5px;
    color: #056CF2;
    cursor: pointer;
    transition: .2s linear;
}
.alternative p span:hover {
    color: rgb(0, 56, 129);
}

.gdpr-consent {
    font-size: 12px;
    width: 20vw;
}
#gdpr-agree-checkbox {
    width: 12px;
    height: 12px;    
}

@media screen and (max-width: 1344px) {

    .signup {
        width: 365px;
        height: 600px;
        margin: auto;
    }
    .su-logo  div {
        left: -47px !important;
        width: 200px;
    }
    .su-heading {
        right: 101.5px;
    }
    .su-fields-wrapper {
        height:516px;
        top: 23px;
    }
    .su-fields-wrapper div label {
        width: 262px;
    }
    .su-fields-wrapper div input {
        width: 264px;
    }
    .su-btn {
        width: 264px;
        margin-top: 10px;

    }
    .alternative {
        padding-left: 25.5px;
    }
    .gdpr-consent {
        width: 264px;
    }
}

@media screen and (max-width: 425px) {
    .signup {
        width: 280px;
        margin: auto;
        height: 600px;
    }
    .su-logo  div {
        left: -65px !important;
        width: 200px;
    }
    .su-heading {
        right: 64px;
    }
    .su-fields-wrapper {
        height:516px;
        top: 23px;
    }
    .su-fields-wrapper div label {
        width: 200px;
    }
    .su-fields-wrapper div input {
        width: 200px;
    }
    .su-btn {
        width: 200px;
        margin-left: 12px;
        margin-top: 10px;
    }
    .alternative {
        padding-left: 10.5px;
    }
    .gdpr-consent {
        width: 200px;
    }
}