.faq-wrapper {
    width: 59vw;
    height: 83vh;
    position: absolute;
    top: 15vh;
    left: 18.88vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.faq-wrapper > div:nth-child(1) {
    position: relative;
    top: -1.34vh;
    width: 10vw;
}

.faq-wrapper > div:nth-child(2) {
    position: relative;
    bottom: 8vh;
    height: 64vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.faq-wrapper > div:nth-child(1) > div:nth-child(1) {
    position: relative;
    left: 9vw;
    bottom: .2vh;
}
.faq-wrapper > div:nth-child(1) > div:nth-child(2) {
    position: relative;
    bottom: 19.8vh;
    right: 4.5vw;
}
#pagination-component5 {
position: relative;
top: 90vh;
left: 18.65vw;
width: 41vw;
}
