.faq-wrapper {
    width: 59vw;
    height: 83vh;
    position: absolute;
    top: 15vh;
    left: 18.88vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.faq-wrapper > div:nth-child(1) {
    position: relative;
    top: 3vh;
}

.faq-wrapper > div:nth-child(2) {
    position: relative;
    bottom: 8vh;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.faq-wrapper > div:nth-child(1) > div:nth-child(2) {
    position: relative;
    bottom: 19.5vh;
    right: 14vw;
}