#remove-sport-container {
    background-color: #e9e9e9;
    height: 120vh;
}

#remove-sport-container .sports {
    position: absolute;
    left: 23vw;
    top: 25vh;
    width: 75vw;
    height: 88vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-content: flex-start;
}

#pagination-component {
    position: relative;
    left: 23vw;
    bottom: 8vw;
    width: 32vw;
}

.remove-sport-reuse-del-button {
    position: absolute;
    bottom: 35.5vw;
    left: 86vw;
}