.location-info-container {
    width: 250px;
    font-size: 14px;
}
.l-info {
    font-size: 28px;
    margin-left: 5px;
}
.facilites ul li,
.surface ul li,
.type ul li {
    list-style: none;
    position: relative;
    right: 7px;

}
.facilites ul,
.surface ul,
.type ul {
    position: relative;
    bottom: 7px;
}
.facilites p,
.surface p,
.type p {
    font-weight: bold;
}
.wrapper {
    width: 300px;
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;    
}

.wrapper div  {
  width: 100px;
  height: 21.5px;
  margin-bottom: 40px;
}
.wrapper div p:nth-child(1) {
    font-weight: bold;
}
.wrapper div p:nth-child(2) {
    position: relative;
    bottom: 10px;
}