.location-info-container {
    width: 25vw;
    font-size: 14px;
}
.l-info {
    font-size: 28px;
    margin-left: 5px;
}
.facilites ul li,
.surface ul li,
.type ul li {
    list-style: none;
    position: relative;
    right: 7px;
}
.facilites ul,
.surface ul,
.type ul {
    position: relative;
    bottom: 7px;
}
.facilites p,
.surface p,
.type p {
    font-weight: bold;
}
.wrapper {
    width: 25vw;
    display: flex;
    justify-content: space-around;
}

.wrapper div ul {
    position: relative;
    right: 32px;
}