.location-info-container {
    width: 25vw;
    font-size: 14px;
}
.l-info {
    font-size: 28px;
    margin-left: 5px;
}
.facilites ul li,
.surface ul li,
.type ul li {
    list-style: none;
    position: relative;
    right: 7px;
}
.facilites ul,
.surface ul,
.type ul {
    position: relative;
    bottom: 7px;
}
.facilites p,
.surface p,
.type p {
    font-weight: bold;
}
.wrapper {
    width: 25vw;
    max-height: 34.6vh;
    margin-left: 8px;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.wrapper div  {
  /* displ */
  /* border: 2px solid red; */
  width: 8vw;
  height: 3vh;
  margin-bottom: 4vh;
}
.wrapper div p:nth-child(1) {
    font-weight: bold;
}
.wrapper div p:nth-child(2) {
    position: relative;
    bottom: 10px;
}