.sbm-container {
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
    width: 20vw;
    height: 100vh;
    background-color: white;
}
.admin-panel {
    color: #056CF2;
    margin: auto;
    width: 11vw;
    font-size: 1.6rem;
    font-weight: bold;
}
.profile-picture {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-profile-circular {
    width: 3vw;
    height: 6vh;
    background-color: gray;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    right: 20px;
}
.profile-picture .name {
    position: relative;
    font-size: 1.2rem;
    right: 4.3rem;
}

.sbm-container ul {
    list-style: none;
}
.sbm-container ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-bottom: 19px;

}
.sbm-container ul li .material-icons,
.sbm-container ul li i {
    font-size: 2rem;
    color: #C0C0C0;
    position: relative;
    right: 3.9rem;
}
.sbm-container ul li .li-txt {
    color: #c0c0c0;
    position: relative;
    right: 7rem;
}

.sbm-container ul li:first-child span{
    color: #056CF2;
}
.sbm-container ul li:first-child:hover span {
    color: rgb(11, 65, 136);
}
.li-my-acct {
    right: 6.7rem !important;
}
.li-so {
    right: 7.95rem !important;
}
