.sbm-container {
    box-sizing: border-box !important;
    /* border: 1px solid #c0c0c0 !important; */
    width: 16vw !important;
    height: 99.6vh !important;
    margin-bottom: 0 !important;
    box-sizing: border-box !important;
    position: relative !important;
    /* border: 2px solid red !important; */
    background-color: #ffffff !important;
    position: absolute !important;
    border-right: 1px solid gray !important;

}
.admin-panel {
    color: #056CF2 !important;
    margin: auto !important;
    width: 12vw !important;
    height: 2.4vh !important;
    font-size: 1.6rem !important;
    font-weight: bold !important;
}
.admin-panel p {
    position: relative !important;
    /* bottom: 10px !important; */
    bottom: 2.24vh !important;
    /* right: 3vw !important; */
}
.profile-picture {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}
.img-profile-circular {
    width: 2.2vw !important;
    height: 4.4vh !important;
    background-color: gray !important;
    display: inline-block !important;
    border-radius: 100% !important;
    position: relative !important;
    /* right: 30px !important; */
}
.profile-picture .name {
    position: relative !important;
    font-size: 16px !important;
    right: 1.3rem !important;
    width: 9vw !important;
}

.sbm-container ul {
    list-style: none !important;

}
.sbm-container ul li {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    cursor: pointer !important;
    margin-bottom: 19px !important;

}
.sbm-container ul li .material-icons,
.sbm-container ul li i {
    font-size: 23px !important;
    position: relative !important;
    right: 2.5rem !important;
    color: #056CF2 !important;

}
.sbm-container ul li:hover .material-icons,
.sbm-container ul li:hover i {
    color: rgb(11, 65, 136) !important;
}
.sbm-container ul li .li-txt {
    color: #c0c0c0;
    position: relative !important;
    right: 5rem !important;
    font-size: 14px !important;
    color: #056CF2 !important;
    /* font-weight: bold; */

}
.sbm-container ul li:hover .li-txt {
    color: rgb(11, 65, 136) !important;

}

.sbm-container ul li:first-child span{
    color: #056CF2;
}
.sbm-container ul li:first-child:hover span {
    color: rgb(11, 65, 136);
}
.li-my-acct {
    right: 4.68rem !important;
    font-size: 14px !important;
    color: #056CF2 !important;

}
.li-so {
    right: 5.8rem !important;
    /* color: #c0c0c0 !important; */
    color: #056CF2 !important;

    font-size: 14px !important;
}


.faq-li i {
    margin-right: 50px;
    color: #056CF2 !important;
    /* color: '#c0c0c0'     */
    /* color: red !important; */

}
.faq-li span {
    position: relative !important;
    left: -8.2vw !important;
    display: inline-block !important;
    display: inline-block !important;
    /* color: red !important; */
    /* color: #c0c0c0; */
    color: #056CF2 !important;


}
