.sbm-container {
    box-sizing: border-box;
    /* border: 1px solid #c0c0c0; */
    width: 16vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    /* border: 2px solid red; */
    background-color: #ffffff;
    position: relative;
    bottom: 26px;
    border-right: 1px solid gray;

}
.admin-panel {
    color: #056CF2;
    margin: auto;
    width: 12vw;
    height: 6.69vh;
    font-size: 1.6rem;
    font-weight: bold;
}
.admin-panel p {
    position: relative;
    /* bottom: 10px; */
    top: 1.7vh;
    /* right: 3vw; */
}
.profile-picture {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-profile-circular {
    width: 2.2vw;
    height: 4.4vh;
    background-color: gray;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    /* right: 30px; */
}
.profile-picture .name {
    position: relative;
    font-size: 16px;
    right: 2.3rem;
    width: 8vw;
}

.sbm-container ul {
    list-style: none;

}
.sbm-container ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-bottom: 19px;

}
.sbm-container ul li .material-icons,
.sbm-container ul li i {
    font-size: 23px;
    color: #C0C0C0;
    position: relative;
    right: 2.5rem;
}
.sbm-container ul li .li-txt {
    color: #c0c0c0;
    position: relative;
    right: 5rem;
    font-size: 14px;
}

.sbm-container ul li:first-child span{
    color: #056CF2;
}
.sbm-container ul li:first-child:hover span {
    color: rgb(11, 65, 136);
}
.li-my-acct {
    right: 4.68rem !important;
    font-size: 14px !important;
}
.li-so {
    right: 5.8rem !important;
    color: #c0c0c0 !important;
    font-size: 14px !important;
}


.faq-li i {
    margin-right: 50px;    

}
.faq-li span {
    position: relative;
    left: -10.6vw;
    display: inline-block;
    color: #c0c0c0 !important;

}
