.navbar-container {
    background-color: #056CF2;
    width: 100%;
    /* height: 7vh; */
    height: 49.5px;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    position: fixed;
    z-index: 10;
}

.username-and-logout-container {
    display: flex;
    width: 9vw;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    top: 3px;
}
.username-and-logout-container i {
    color: rgb(7, 46, 98);
}
.username-and-logout-container i:nth-child(1) {
    font-size: 22px;
    /* color: #ffffff; */
    background-color: #ffffff;
    border: none;
    border-radius: 100%;
    position: relative;
    /* left: 3px; */
    top: 0.4px;
}
#arr-d-icon {
    font-size: 16px;
    position: relative;
    /* top: 1.4px; */
    bottom: 2.1px;
    right: 1px;
    transition: .2s ease-in-out;
}

.navbar-part-user-logged-in {
    position: relative;
    right: 4.57vw;
    width: 17.29vw;
    height: 6.1vh;
    display: flex;
    justify-content: space-around;
}
.navbar-part-user-logged-in > div:not(:nth-child(3)) button {
    width: 59px;
    height: 3.5vh;
    font-size: 0.9rem;
    border: none;
    position: relative;
    top: 12.9px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    background-color: #ffffff;
}

.sign-out-dropdown {
    display: none;
    position: absolute;
    top: 7.4vh;
    left: 8.5vw;
    width: 8.9vw;
    height: 5vh;
    background-color: #ffffff;
    border: 0.3px solid rgba(0, 0, 0, 0.081);
    font-size: 14px;
    border-radius: 2px;
}
.sign-out-dropdown span {
    position: relative;
    top: 7px;
    left: 11px;
    cursor: pointer;
}

.sign-out-dropdown:hover span i  {
    color: #056CF2;
}
.sign-out-dropdown span i {
    position: relative;
    left: 0.3vw;
    top: 0.1vh;
    font-size: 14px;
    color: black;

}
.sign-out-dropdown i {
    position: relative;
    font-size: 18px;
    left: 7.7vw;
    bottom: 0.9vh;
    color: #ffffff;
}

.navbar-container .logged-out-wrapper {
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    right: 15.9vw;
}

@media screen and (max-width: 1554px) {
    .navbar-container {
        height: 49.5px;
        justify-content: space-between;
    }

    .navbar-container .logo {
        position: relative;
        left: 11.9vw !important;
        top: 4px;
        width: auto;
    }

    /* search component */
    .input-container {
        width: 215px;
        position: relative;
    }
    .input-container i {
        left: 14px;
        top: 15px;
      
    }
    .input-container input {
        left: 0;
        top: 11px;
        height: 28px;
    }

    .navbar-container .logged-out-wrapper {
        width: 370px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        right: 15.9vw;
    }
    .navbar-container .signin-container {
        width: auto;
        position: relative;
    }
    .navbar-container .signin-container button {
        top: 0px !important;
        left: 0px !important;
    }
    .navbar-container .register-container {
        position: relative;
        width: 90px;
        width: auto;

    }
    .navbar-container .register-container button {
        height: 28.5px;
        left: 0px !important;
        top: 0px !important;
    }
    .navbar-container .contact-container {
        position: relative;
        width: 90px;
        width: auto;
    }
    .navbar-container .contact-container button {
        height: 28.5px;
        left: 0px !important;
        top: 0px !important;
    }

    .fe-faq {
        height: 28.5px;
    }   
    
}

@media screen and (max-width: 1168px) {
    .input-container {
        display: none;
    }
}
@media screen and (max-width: 830px) {
    .navbar-container {
        justify-content: space-between;
    }
    .navbar-container .logo {
        left: 5vw !important;
    }
}

@media screen and (max-width: 746px) {
    .navbar-container {
        justify-content: normal;
    }
    .navbar-container .logged-out-wrapper {
        right: -8.5vw;
    }
    .navbar-container .logged-out-wrapper {
        right: -6vw;
        width: 53.92vw;
    }
}

@media screen and (max-width: 686px) {

    .navbar-container .logged-out-wrapper {
        right: -6vw;
        width: 53.92vw;
    }
    .navbar-container .signin-container {
        width: 12.6vw;
    }
    .navbar-container .signin-container button {
        width: inherit;
    }
    .navbar-container .register-container {
        width: 12.6vw;

    }
    .navbar-container .register-container button {
        width: inherit;
    }
    .navbar-container .contact-container {
        width: 12.6vw;
    }
    .navbar-container .contact-container button {
        width: inherit;
    }

    .fe-faq {
        width: 12.6vw;
    }   
}