.sport-locations {
    position: relative;
    top: 100px;
    left: 11.3vw;
    width: 53vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.sidebar-c {
   /* bottom: 100vh; */
   position: fixed;
   top: 13vh;
   left: 65.5vw;
}

