.servicecard-container {
    width: 162px;
    height: 55px;
    border-radius: 14px;
    background-color: white;
    display: flex;
    margin-left: 10px;
    cursor: pointer;
}
.check-container {
    position: relative;
    top: 6px;
}
.details {
    position: relative;
    top: 5px;
    font-size: 0.7rem;
    color: black;
}

.details .price {
    position: relative;
    bottom: 10px;
    color: gray;

}