.lp-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    transition: background-image 1.4s ease-in-out;
}
.swimming-bg {
    background-image: url('../../imgs/swimming.jpg');
    opacity: 0.8;
    background-size: cover;
    background-repeat: no-repeat;
}
.basketball-bg {
    background-image: url('../../imgs/basketball2.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.soccer-bg {
    background-image: url('../../imgs/soccer2.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.billiard-bg {
    background-image: url('../../imgs/billiard.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.tennis-bg {
    background-image: url('../../imgs/tennis.jpeg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}
.bowling-bg {
    background-image: url('../../imgs/bowling2.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}



.lp-btns {
    color: white;
    display: flex;
    width: 200px;
    position: absolute;
    left: 82%;
    top: 30px;
    justify-content: space-around;
}


.lp-register {
    background-color: #056CF2 !important;
    color: #ffffff;
    border-radius: 7px !important;
    width: 90px !important;
    height: 35px !important;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;

}
.lp-register:hover,
.lp-signin:hover {
    background-color: rgb(14, 96, 204) !important;
    color: white;
}
.lp-signin {
    background-color: #056CF2 !important;
    color: #ffffff;
    border-radius: 7px !important;
    width: 90px !important;
    height: 35px !important;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}






/* user logged in */
.lp-user-logged-in {
    position: relative;
    /* right: 18vw; */
    /* left: 1.7vw; */
    bottom: 2vh;
    right: 2vw;
    width: 10vw !important;
}
.userIcon {
    font-size: 27px !important;
    margin-right: 5px;
}
.arrowDownIcon {
    color: #ffffff !important;
    position: relative;
    right: 0vw !important;
}

.lp-booked {
    background-color: #056CF2 !important;
    color: #ffffff;
    border-radius: 7px !important;
    width: 90px !important;
    height: 35px !important;

}
.lp-contact {
    background-color: #056CF2 !important;
    color: #ffffff;

    border-radius: 7px !important;
    width: 90px !important;
    height: 35px !important;
    margin-left: 10px;

}
.lp-username-container {
    width: 9vw !important;
    position: relative;
    left: 1vw;
    top: 1.2vh !important;

}
.lp-user-name {
    width: 10vw;
}
.lp-sign-out-dropdown {
    position: relative;
    left: 12vw !important;
    color: #000000 !important;
    font-weight: bold !important;
}