.msg-details-container {
    border: 1px solid #000000 !important;
    width: 46vw !important;
    height: 65.8vh !important;
    position: relative !important;
    right: 4.65vw !important;
 
    font-size: 12px !important;
    color: #A4ABB4 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    border-radius: 14px !important;
    background-color: #ffffff !important;
}
.msg-details-container .date-time {
    position: relative !important;
    left: 3vw !important;
    top: 4vh !important;
}
.msg-details-container .title-msg {
    position: relative !important;
    left: 3vw !important;
    top: 1vh !important;
    color: #000000 !important;
    /* font-size: 14px !important; */
    font-weight: bold !important;
}
.msg-details-container .from-email {
    position: relative !important;
    left: 3vw !important;
    bottom: 2.0vh !important;
    width: 23vw;
}
.from-email span {
    font-weight: bold !important;
    color: black !important;
}

.msg-details-container .msg-body {
    color: #000000 !important;
    position: relative !important;
    left: 3vw !important;
    bottom: 1vh !important;
    width: 90%;
    height: 55vh;
}
.msg-details-container .reply-btn {
    position: relative !important;
    bottom: -1vh !important;
    left: 3vw !important;
    width: 6.4vw !important;
    height: 7.6vh !important;
    border-radius: 10px !important;
    background-color: #056CF2;
    color: #ffffff !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    cursor: pointer !important;
    transition: .2s ease-in-out !important;
}
.reply-btn:hover {
    background-color: rgb(11, 65, 136);
}
.grayBg {
    background-color: #c9cacc !important;
}

.reply-btn i {
    position: relative !important;
    right: 2.5px !important;
    font-size: 16px !important;
}
.reply-btn span {
    position: relative !important;
    right: 10px !important;
    font-size: 14px !important;
}

