.s-a-btns {
    display: flex;
    position: relative;
    margin: auto;
    bottom: 0px;
    width: 175px;
    justify-content: space-evenly;
}

.s-a-btns .book, .s-a-btns .view {
    width: 75px;
    height: 32px;
    /* margin-right: 20px; */
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.s-a-btns .book {
    background-color: #056CF2;
    color: white;
    transition: background-color .4s;
}
.s-a-btns .book:hover {
    background-color: rgb(14, 96, 204);
    color: white;
}
.s-a-btns .view:hover {
    background-color: rgba(197, 197, 197, 0.616);
}