.slider {
    position: relative;
    width: 96%;
    /* border: 2px solid green; */
    height: 20vh;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .slider i {
    font-size: 2vw;
  }
  
  .slide {
    position: relative;
    min-width: 100%;
    height: 80%;
    transition: 0.5s;
    overflow: hidden;
  }
  
  #goRight, #goLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
  }
  #goRight:hover, #goLeft:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.356);
  }
  #goRight:hover i, #goLeft:hover i {
    color: whitesmoke;
  }
  
  #goLeft {
    left: 0;
  }
  
  #goRight {
    right: 0;
  }