.input-container {
}
.input-container i {
    position: absolute;
    left: 40vw;
    top: 16.5px;
    font-size: 1.3rem;
    z-index: 50;
    color: #000000;
    cursor: pointer;
}
.input-container input {
    position: absolute;
    left: 39vw;
    top: 11px;
    box-sizing: border-box;
    outline: none;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    padding: 7px;
    padding-left: 35px;
    width: 154px;
    height: 4vh;
    background-color: #ffffff;
    z-index: 1;
    color: #000000;
    transition: width .18s linear;
    font-size: 12px;
}
.input-container input:focus {
    width: 200px;
}
.input-container input::placeholder {
    color: #000000;
}