
.sctr-container {
    /* position: absolute;
    bottom: 40vh;
    left: 24vw; */
    width: 32vw;
}
.tr-sport-container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    width: 32vw;
}
.tr-sport-container .r-checkbox-wrapper {
    position: relative;
    margin-bottom: 19vh;
    display: block;
    /* top: -200px; */
    left: 10px;
}
#awr {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    height: 100%;
    align-items: center;
}
.tr-sport-container .reser-img-container {
    position: relative;
    top: 6.8vh;
    left: 0vw;
    width: 20vh;
    height: 20vh;
}
.tr-sport-container .reser-img-container img {
    width: 19vh;
    height: 15.4vh;
}
.tr-sport-container .title-value {
    position: relative;
    /* left: 1vw; */
}   
.tr-sport-container .type-value {
    position: relative;
    /* right: 1vw; */
}
.tr-sport-container .location-value {
    position: relative;
    /* right: 3vw; */
}

#s-to-rem-desc-wrapper {
    position: relative;
    right: 1vw;
    font-size: 14px;
    height: 14vh;
    width: 14.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}