.sidebar-container {
    background-color: white;
    height: 80vh;
    width: 17.3vw;
    /* border: 2px solid red; */
}

.sidebar-btns {
    position: relative;
    top: 32px;
    width: 132.5px;
    left: 2.45vw;
}
.sidebar-btns button {
    width: 61px;
    height: 4vh;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    background-color: #5a5858;
    color: white;
}
.sidebar-btns button:hover {
    background-color: #343434;
}