.searchbarr {
    height: 5vh !important;
    position: absolute !important;
    top: 14vh !important;
    left: 25vw !important;
}
#s-icon {
    position: absolute !important;
    top:14px !important;
    left: 14px !important;

}

.searchbarr input {
    height: 5vh !important;
    padding-left: 2.5vw !important;
    color: gray !important;
}